.file-uplaod__container {
  position: relative;
}

.uploaded-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 648px;
  width: 743px;
  border-radius: 4px;
}

.file-upload__change-label {
  z-index: 5000000000;
  position: absolute;
  padding: 4px 10px;
  right: 16px;
  top: 15px;
  background-color: #ffffff;
  border: 2px solid #4a4a49;
  border-radius: 4px;
  cursor: pointer;
}
