.file-uplaod__container {
  position: relative;
}
.uploaded-image {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: 648px;
  width: 743px;
  border-radius: 4px;
}
