<div class="file-uplaod__container">
  <div class="file-upload__send-image">
    <div class="file-upload__sign">
      <div class="file-upload__image-container">
        <svg
          class="file-upload__img"
          width="49"
          height="48"
          viewBox="0 0 49 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.5 34V22l-4 4M18.5 22l4 4"
            stroke="#1D5A52"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M44.5 20v10c0 10-4 14-14 14h-12c-10 0-14-4-14-14V18c0-10 4-14 14-14h10"
            stroke="#1D5A52"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M44.5 20h-8c-6 0-8-2-8-8V4l16 16z"
            stroke="#1D5A52"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <span class="file-upload__title">Wgraj plik</span>
    </div>
    <img [src]="imageUrl" style="" class="uploaded-image" />
    <input
      class="file-upload__send-input"
      type="file"
      accept=".png, .jpg, .jpeg .gif"
      id="inputTag"
      cap
      #Image
      accept="image/*"
      (change)="onselectFile($event)"
      [hidden]="!isInputShown"
      (change)="hideInput()"
    />
    <ng-container *ngIf="imageUrl">
      <input
        class="file-upload__change-input"
        accept="image/jpeg, image/png, image/jpg"
        type="file"
        id="file"
        (change)="onselectFile($event)"
        name="photos"
      />
      <label for="file" class="file-upload__change-label"> Zmień </label>
    </ng-container>
  </div>
</div>
