<section class="add-decor">
  <div class="add-decor__close">
    <button class="add-decor__close-button" mat-button mat-dialog-close>
      <svg
        class="add-decor__close-image"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m20.116 18 6.45-6.435a1.507 1.507 0 0 0-2.13-2.13L18 15.885l-6.435-6.45a1.506 1.506 0 0 0-2.13 2.13L15.886 18l-6.45 6.435a1.5 1.5 0 0 0 0 2.13 1.499 1.499 0 0 0 2.13 0L18 20.115l6.435 6.45a1.498 1.498 0 0 0 2.13 0 1.5 1.5 0 0 0 0-2.13L20.116 18z"
          fill="#1A1A1A"
        />
      </svg>
    </button>
  </div>
  <form action="#" class="add-decor__form">
    <div class="add-decor__title">Znajdź dekor</div>
    <div class="add-decor__search">
      <input class="add-decor__search-input" value="szukaj" />

      <label for="group" class="add-decor__property">
        <span class="add-decor__property-name">Grupa dekorów</span>
        <input
          type="text"
          name="group"
          class="add-decor__input"
          value="wszystkie"
        />
        <svg
          class="arrow-down"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m19.918 8.95-6.52 6.52c-.77.77-2.03.77-2.8 0l-6.52-6.52"
            stroke="#19212B"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </label>
    </div>
    <div class="add-decor__selected-decors">
      <span class="add-decor__selected-title">Wybrane dekory</span>
      <div class="add-decor__selected-decors-container">
        <div class="add-decor__selected-decor">
          Flamed wood
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.003 14.665c3.666 0 6.666-3 6.666-6.666 0-3.667-3-6.667-6.666-6.667-3.667 0-6.667 3-6.667 6.667 0 3.666 3 6.666 6.667 6.666z"
              fill="#BD9176"
              stroke="#BD9176"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="m6.117 9.887 3.774-3.774M9.89 9.887 6.118 6.113"
              stroke="#fff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="add-decor__selected-decor">
          Sosna słowiańska
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.003 14.665c3.666 0 6.666-3 6.666-6.666 0-3.667-3-6.667-6.666-6.667-3.667 0-6.667 3-6.667 6.667 0 3.666 3 6.666 6.667 6.666z"
              fill="#BD9176"
              stroke="#BD9176"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="m6.117 9.887 3.774-3.774M9.89 9.887 6.118 6.113"
              stroke="#fff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="add-decor__choose-decor">
      <ul class="add-decor__decors-list">
        <li class="add-decor__decor">
          <span class="checkmark"></span>
          <input type="checkbox" class="add-decor__decor-input" />

          <div class="add-decor__decor-image"></div>
          <div class="add-decor__decor-name-container">
            <div class="add-decor__decor-title">Flamed Wood</div>
            <div class="add-decor__decor-number">R20351</div>
          </div>
        </li>

        <li class="add-decor__decor">
          <input type="checkbox" class="add-decor__decor-input" />
          <span class="checkmark"></span>
          <div class="add-decor__decor-image"></div>
          <div class="add-decor__decor-name-container">
            <div class="add-decor__decor-title">Flamed Wood</div>
            <div class="add-decor__decor-number">R20351</div>
          </div>
        </li>

        <li class="add-decor__decor">
          <input type="checkbox" class="add-decor__decor-input" />
          <span class="checkmark"></span>
          <div class="add-decor__decor-image"></div>
          <div class="add-decor__decor-name-container">
            <div class="add-decor__decor-title">Flamed Wood</div>
            <div class="add-decor__decor-number">R20351</div>
          </div>
        </li>

        <li class="add-decor__decor">
          <input type="checkbox" class="add-decor__decor-input" />
          <span class="checkmark"></span>
          <div class="add-decor__decor-image"></div>
          <div class="add-decor__decor-name-container">
            <div class="add-decor__decor-title">Flamed Wood</div>
            <div class="add-decor__decor-number">R20351</div>
          </div>
        </li>

        <li class="add-decor__decor">
          <input type="checkbox" class="add-decor__decor-input" />
          <span class="checkmark"></span>
          <div class="add-decor__decor-image"></div>
          <div class="add-decor__decor-name-container">
            <div class="add-decor__decor-title">Flamed Wood</div>
            <div class="add-decor__decor-number">R20351</div>
          </div>
        </li>

        <li class="add-decor__decor">
          <input type="checkbox" class="add-decor__decor-input" />
          <span class="checkmark"></span>
          <div class="add-decor__decor-image"></div>
          <div class="add-decor__decor-name-container">
            <div class="add-decor__decor-title">Flamed Wood</div>
            <div class="add-decor__decor-number">R20351</div>
          </div>
        </li>

        <li class="add-decor__decor">
          <input type="checkbox" class="add-decor__decor-input" />
          <span class="checkmark"></span>
          <div class="add-decor__decor-image"></div>
          <div class="add-decor__decor-name-container">
            <div class="add-decor__decor-title">Flamed Wood</div>
            <div class="add-decor__decor-number">R20351</div>
          </div>
        </li>
      </ul>
    </div>
    <button class="add-decor__add-products">Dodaj produkty</button>
  </form>
</section>
