input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.arrow-down,
.check {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.decors-section {
  height: 806px;
  .decors-section__container {
    display: flex;
  }
  .decors-section__title {
    font-family: Montserrat;
    font-size: 16px;
    color: #333;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .decors-section__button-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 48px;
    right: 0;

    .decors-section__cancel-button {
      width: 83px;
      height: 40px;
      border-radius: 4px;
      background: none;
      border: solid 2px #bd9176;
      color: #bd9176;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 16px;
    }

    .decors-section__submit-button {
      width: 71px;
      height: 40px;
      border-radius: 4px;
      background: #bd9176;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }

  .decors-section__decor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 267px;
    height: 64px;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: rgba(237, 237, 237, 0.7);
    margin-bottom: 32px;
    margin-right: 8px;
    cursor: pointer;
    .decors-section__decor-name {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
    }
    .decors-section__decor-number {
      width: 45px;
      height: 20px;
      flex-grow: 0;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #19212b;
    }
    .decors-section__decor-image {
      border-radius: 100px;
      background-color: rgba(237, 237, 237, 0.7);
      height: 44px;
      width: 44px;
    }
    .decors-section__decor-image--is-sosna {
      background-color: rgba(110, 46, 46, 0.7);
    }
  }
}

.additional-section {
  height: 726px;
  position: relative;

  .additional-section__button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    .additional-section__cancel-button {
      width: 83px;
      height: 40px;
      border-radius: 4px;
      background: none;
      border: solid 2px #bd9176;
      color: #bd9176;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 16px;
    }

    .additional-section__submit-button {
      width: 244px;
      height: 40px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      object-fit: contain;
      border-radius: 4px;
      background-color: #bd9176;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      border: none;
      color: #fff;
    }
  }
}
