input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.color-picker {
  height: 48px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #d7d0cd;
  background-color: #fff;
  width: 525px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #19212b;
  z-index: 1 !important;
}

.input-container {
  height: 600px;
}
.checkbox--is-hide {
  label {
    min-height: 30px;
    display: block;
    padding-left: 32px;
    margin-bottom: 6px;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
  }
  label:before {
    content: '';
    position: absolute;
    left: 0.6px;
    top: 0;
    width: 20px;
    height: 20px;
    transition: transform 0.28s ease;
    border-radius: 6px;
    border: 2px solid #9d9d9c;
  }
  label:after {
    content: '';
    display: block;
    width: 10.8px;
    height: 4.5px;
    border-bottom: 2.39px solid #fff;
    border-left: 2.39px solid #fff;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 13px;
    left: 6px;
  }
}

.configuration-tool__hide-inspiration {
  width: fit-content;
  cursor: pointer;
}
.arrow-down,
.check {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.decors-section {
  height: 806px;
  .decors-section__container {
    display: flex;
  }
  .decors-section__title {
    font-family: Montserrat;
    font-size: 16px;
    color: #333;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .decors-section__button-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 48px;
    right: 0;

    .decors-section__cancel-button {
      width: 83px;
      height: 40px;
      border-radius: 4px;
      background: none;
      border: solid 2px #bd9176;
      color: #bd9176;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 16px;
    }

    .decors-section__submit-button {
      width: 71px;
      height: 40px;
      border-radius: 4px;
      background: #bd9176;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }

  .decors-section__decor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 267px;
    height: 64px;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: rgba(237, 237, 237, 0.7);
    margin-bottom: 32px;
    margin-right: 8px;
    cursor: pointer;
    .decors-section__decor-name {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
    }
    .decors-section__decor-number {
      width: 45px;
      height: 20px;
      flex-grow: 0;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #19212b;
    }
    .decors-section__decor-image {
      border-radius: 100px;
      background-color: rgba(237, 237, 237, 0.7);
      height: 44px;
      width: 44px;
    }
    .decors-section__decor-image--is-sosna {
      background-color: rgba(110, 46, 46, 0.7);
    }
  }
}

.additional-section {
  height: 726px;
  position: relative;

  .additional-section__button-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    .additional-section__cancel-button {
      width: 83px;
      height: 40px;
      border-radius: 4px;
      background: none;
      border: solid 2px #bd9176;
      color: #bd9176;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 16px;
    }

    .additional-section__submit-button {
      width: 244px;
      height: 40px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      object-fit: contain;
      border-radius: 4px;
      background-color: #bd9176;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      border: none;
      color: #fff;
    }
  }
}
