<div class="container">
  <div class="page__nav"></div>
  <div class="add-inspiration">
    <div class="add-inspiration__container">
      <div class="add-inspiration__image-wrapper">
        <div class="file-upload">
          <app-upload-image></app-upload-image>
          <div class="tags-section">
            <div class="tags-section__title">
              Możesz otagować swój projekt, by dostać pomocne podpowiedzi
            </div>
            <div class="tags-section__subtitle">
              Tag to np. kolor, rodzaj wnętrza, element wystroju, styl lub
              własne oznaczenie.
            </div>
            <div class="tags-section__container">
              <div class="tags-section__tag">Meble</div>
              <div class="tags-section__tag">Kuchnia</div>
              <div class="tags-section__tag">
                <div class="tag-section__tag-color"></div>
                Biały
              </div>
              <div class="tags-section__tag">Ekologia</div>
            </div>
            <button class="tags-section__add-btn">
              <svg
                class="tags-section__btn-image"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2 2 6.5 2 12s4.5 10 10 10z"
                  fill="#BD9176"
                  stroke="#BD9176"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8 12h8M12 16V8"
                  stroke="#fff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              Dodaj
            </button>
          </div>
        </div>
      </div>
      <div class="add-inspiration__configuration-tool">
        <div class="configuration-tool">
          <div class="configuration-tool__title">
            Dodaj inspirację
            <div class="line"></div>
          </div>

          <app-tabs></app-tabs>

          <!-- <ul class="configuration-tool__step-list">
            <li class="configuration-tool__list-item">
              <button
                class="
                  configuration-tool__btn configuration-tool__btn--is-opened
                "
              >
                <span
                  class="
                    configuration-tool__span configuration-tool__span--is-opened
                  "
                  >1.</span
                >Opis
              </button>
            </li>
            <li class="configuration-tool__list-item">
              <button class="configuration-tool__btn">
                <span class="configuration-tool__span">2.</span>Dekory
              </button>
            </li>
            <li class="configuration-tool__list-item">
              <button class="configuration-tool__btn">
                <span class="configuration-tool__span">3.</span>Dodatkowe
              </button>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
