<div ngbDropdown class="d-inline-block select-view" (click)="expandList()">
  <button
    [ngClass]="expandedList ? 'dropdown-toggle-up' : 'dropdown-toggle'"
    type="button"
    class="btn btn-outline-primary font700 select-view__button"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    {{ choosenItem ? choosenItem.name : 'Obrzeża papierowe' }}
  </button>
  <ul
    class="select-view__list"
    ngbDropdownMenu
    aria-labelledby="dropdownBasic1"
  >
    <li *ngFor="let item of extendedList">
      <button ngbDropdownItem (click)="selectItem(item)">
        {{ item.name }}
      </button>
    </li>
  </ul>
</div>
<!-- <select name="city" class="rounded-inputs20 select-select col-md-3" (change)="onChange($event.target.value)">
<option *ngFor="let country of countries"  [value]="country.id">{{country.name}}</option>
</select>

<select id="sel1" name="Country" class="rounded-inputs20 select-select col-md-3">
  <option *ngFor="let city of cities" [value]="city">{{city}}</option>  

</select> -->
