<div ngbDropdown class="d-inline-block select-view" (click)="expandList()">
  <button
    [ngClass]="expandedList ? 'dropdown-toggle-up' : 'dropdown-toggle'"
    type="button"
    class="btn btn-outline-primary font700 select-view__button"
    id="dropdownBasic1"
    ngbDropdownToggle
    ngDefaultControl
    (click)="dropdownFlag = !dropdownFlag"
  >
    {{ choosenItem ? choosenItem.name : 'Wszystkie' }}
  </button>
</div>
<div
  class="select-view__list"
  ngbDropdownMenu
  aria-labelledby="dropdownBasic1"
  *ngIf="dropdownFlag"
>
  <button
    ngbDropdownItem
    *ngFor="let item of extendedList"
    (click)="selectItem(item)"
    (click)="dropdownFlag = !dropdownFlag"
  >
    {{ item.name }}
  </button>
</div>
